name = "site-blogs"
main = "src/index.js"
compatibility_date = "2024-01-01"



[vars]
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = "__CLERK_PUBLISHABLE_KEY__"
CLERK_SECRET_KEY = "__CLERK_SECRET_KEY__"

[[kv_namespaces]]
binding = "MEDIA_KV"
id = "f886b0c6bb52467b92cac90633810d2c"
